{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="dashboard-home" >
    <img class="backgroundImg" src="{% static 'images/first-image.jpg' %}" alt="house">
    
    <div class="welcomeMessage">
        <h1>Welcome to DomusHub</h1>
        <p>Browse property categories, search listing, or sign in to post properties if you are an estate agent.</p>
        <p style="margin-top: 16px; color: black;">Please sign in or register to access full property details and agent tools.</p>
        <div class="dashboard-links">
            <a class="homelink" href="{% url 'login' %}">SignIn</a>
            <a class="homelink" href="{% url 'register' %}">Signup</a>
            <a class="homelink" href="{% url 'about' %}">About</a>
        </div>
    </div>
</div>
{% endblock %}
