{% extends 'base.html' %}

{% block content %}
<div class="landingpage">
    <img class="backgroundImg" src="{static 'images/page-pics.jpg'}" alt="DomusHub">
    <h1>Welcome to DomusHub</h1>
    <!--later add an extra content container sideways to welcome container-->
    <!--section adding -->
    <div class="projectExplanation">
        <p>caurosel for the houses and apartments</p>
    </div>
    <div class="links">
        <a class="getStarted" href="{% url 'login' %}">
            <button class="getStartedBtn">
                Get Started
            </button>
        </a>
    </div>
</div>
{% endblock %}