{% load humanize %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DomusHub Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
    <link rel='stylesheet' href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    
    <!--fontawesome cdn link section !!! -->
</head>
<body class="body">
    <div class="wrapper">
        <header class="header">
            <div class="logo">Logo</div>
            <nav class="nav2">
                {% if request.user.is_authenticated %}
                <div class="user">
                    <button onclick="toggleDiv()" class="sideBarBtn"><i class="fa-solid fa-bars"></i></button>
                    <div id="sideBar" class="sideBar">
                        <div class="sideBarHeader">
                            <div class="userWelcome">Hello {{request.user.username}}</div>
                        </div>
                        {% if request.user.is_authenticated and request.user.profile.role != 'ESTATE AGENT'%}
                            <div class="menuList">
                                <a class="menuLinks" href="{% url 'favorites_list' %}">Favorites</a>
                            </div>
                        {% endif %}
                        {% if request.user.is_authenticated and request.user.profile.role == 'ESTATE AGENT'%}
                            <div style="border: 1px solid red;" class="menuList">
                                <a style="display: none;" class="menuLinks" href="{% url 'agent_dashboard' %}">Dashboard</a>
                            </div>
                        {% endif %}
                        <form action="{% url 'logout' %}" method="POST" class="logoutForm">
                            {% csrf_token %}
                            <button class="logout2" type="submit">Logout</button>
                        </form>
                    </div>
                </div>
                {% else %}
                    <div class="linksHolder">
                        <a class="headerLinks" href="{% url 'individual_dashboard' %}">Properties</a>
                        <a class="headerLinks" href="{% url 'agent_dashboard' %}">Become Agent</a>
                    </div>
                {% endif %}
            </nav>
        </header>
        <main>
            {% if messages %}
            {% for message in messages %}
                <div class='alert alert-{{ message.tags }}'>
                    {{ message }}
                </div>
            {% endfor %}
            {% endif %}
            {% block content %}
            {% endblock %}
        </main>
    </div>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>