{% extends 'base.html' %}
{% load humanize %}

{% block content %}
<div class="agent-dashboard">
    <h1>Agent Dashboard</h1>
    <p>Create new properties and manage your active listings.</p>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <div class="agent-form">
        <h2>Create new property</h2>
        <form class="input-form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="createBtn" type="submit">Create Property</button>
        </form>
    </div>

    <h2 style="margin-top: 30px;">Your properties</h2>
    <div class="agent-properties" style="margin-bottom: 40px;">
        {% if properties %}
                {% for item in properties %}
                    <div class="agentPropertiesCard">
                        <h3>{{ item.title }}</h3>
                        <p>{{ item.property_address }}</p>
                        <p>{{ item.category.name }} • {{ item.get_status_display }}</p>
                        <p>{{ item.price|intcomma }}</p>
                        <div style="display:flex; gap:12px; flex-wrap:wrap; margin-top:10px;">
                            <a class="agentPropertyView" href="{% url 'property_detail' item.pk %}">View</a>
                            <a class="agentPropertyEdit" href="{% url 'property_edit' item.pk %}">Edit</a>
                            <form method="post" action="{% url 'property_delete' item.pk %}" style="display:inline;">
                                {% csrf_token %}
                                <button type="submit" class="agentPropertyDelete" >Delete</button>
                            </form>
                        </div>
                    </div>
                {% endfor %}
        {% else %}
            <p>You have not created any properties yet.</p>
        {% endif %}
    </div>
</div>
{% endblock %}