{% extends 'base.html' %}
{% load humanize %}

{% block content %}
<h2 style="margin-top: 30px;margin-bottom: 20px;">Your properties</h2>
<a class="agentPropertyView" href="{% url 'agent_dashboard' %}" style="margin-bottom: 20px;">Back to Dashboard</a>
    <div class="agent-properties" style="margin-bottom: 40px;">
        {% if properties %}
                {% for item in properties %}
                    <div class="agentPropertiesCard">
                        <h3>{{ item.title }}</h3>
                        <p>{{ item.property_address }}</p>
                        <p>{{ item.category.name }} • {{ item.get_status_display }}</p>
                        <p>{{ item.price|intcomma }}</p>
                        <div style="display:flex; gap:12px; flex-wrap:wrap; margin-top:10px;">
                            <a class="agentPropertyView" href="{% url 'property_detail' item.pk %}">View</a>
                            <a class="agentPropertyEdit" href="{% url 'property_edit' item.pk %}">Edit</a>
                            <!-- <form method="post" action="" style="display:inline;">
                                {% csrf_token %}
                                <button type="submit" class="agentPropertyDelete" >Delete</button>
                            </form> -->
                            <a class="agentPropertyDelete" href="{% url 'property_delete' item.pk %}">Delete</a>
                        </div>
                    </div>
                {% endfor %}
        {% else %}
            <p>You have not created any properties yet.</p>
        {% endif %}
    </div>
{% endblock %}