{% extends 'base.html' %}
{% load humanize %}

{% block content %}
<div class="individual-dashboard">
    <form method="get" class="search-form">
        <input type="text" name="search" placeholder="Search by title, location, or category" value="{{ search }}" class="search-input" />
        <button type="submit" class="search-btn">Search</button>
    </form>

    <div class="categories-list" >
        <div class="categories">
            {% for category in categories %}
                    <a href="{% url 'individual_dashboard_by_category' category.slug %}">{{ category.name }} {{ category.property_count }}</a>
            {% empty %}
                <li>No categories yet.</li>
            {% endfor %}
        </div>
    </div>

    <div class="property-grid">
        {% for item in properties %}
            <div class="property-card">
                {% if item.image %}
                <img 
                    src="{{ item.image.url }}" 
                    alt="{{ item.title }}" 
                    class="propertyImg"
                />
                {% else %}
                    <p>No image available</p>
                {% endif %}
                <p class="propertyStatus">Status: {{ item.get_status_display }}</p>
                <div class="property-details">
                    <div class="detailsHold2">
                        <h3>{{ item.property_address }}</h3>
                        <p style="color: gray;font-weight: bold;"><i class="fa-solid fa-naira-sign"></i>{{ item.price|intcomma }}</p>
                    </div>
                    <!-- <h2>{{ item.title }}</h2>
                    <p>{{ item.category.name }}</p> -->
                    <div class="detailsHold">
                        <h2>{{ item.title }}</h2>
                        <a class="detailsBtn" href="{% url 'property_detail' item.pk %}">View details</a>
                    </div>
                    <p>Posted by : {{ item.owner }}  {{ item.created_at|naturaltime }}</p>
                </div>
            </div>
        {% empty %}
            <p>No properties available.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}