{% extends 'base.html' %}
{% load humanize %}

{% block content %}
<div class="property-detail-page">
    
    <div class="hero-image-wrapper">
        {% if property.image %}
                <img src="{{ property.image.url }}" alt="{{ property.title }}" style="width: 90%; border-radius: 8px; object-fit: cover;" />
        {% endif %}
    </div>

    <div class="detail-container">
        <div class="detail-header">
            <div class="title-badge">
                <span class="category-tag">{{ property.category.name }}</span>
                <h1 class="main-title"> {{ property.title }}</h1>
            </div>

            <a class="category-tag2" href="{% url 'favorites_list' %}">View all favorites</a>
            {% if request.user.is_authenticated and not is_agent %}
                <a class="toggle-btn" href="{% url 'toggle_favorite' property.pk %}">
                    {% csrf_token %}
                        {% if is_favorite %}
                            &#10084; <!-- Filled heart -->
                        {% else %}
                            &#9825; <!-- Empty heart -->
                        {% endif %}
                </a>
            {% endif %}
        </div>
            <div class="info-grid">
                <div class="info-title">
                    <div class="info-title-label">Location Address</div>
                    <div class="info-title-value">{{ property.property_address }}</div>
                </div>
                <div class="info-title">
                    <div class="info-title-label">Listing Valuation Price</div>
                    <div class="info-title-value"><i class="fa-solid fa-naira-sign"></i> {{ property.price|intcomma }}</div>
                </div>
                <div class="info-title">
                    <div class="info-title-label">Current Status</div>
                    <div class="info-title-value">{{ property.get_status_display }}</div>
                </div>
                <div class="info-title">
                    <div class="info-title-label">Listing Date</div>
                    <div class="info-title-value">{{ property.created_at|date:'F j, Y' }}</div>
                </div>
                <div class="info-title">
                    <div class="info-title-label">Description</div>
                    <div class="info-title-value">{{ property.description }}</div>
                </div>
            </div>
    </div>
    

    <div class="property-detail-actions">
        {% if not is_agent %}
            <a class="action-link" href="{% url 'individual_dashboard' %}" style="margin-right: 16px;">Back to listings</a>
            <a class="action-link" href="{% url 'individual_dashboard_by_category' property.category.slug %}" style="margin-right: 16px;">More in {{ property.category.name }}</a>
            {% if whatsapp_url %}
                <a class="action-link" href="{{ whatsapp_url }}" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-whatsapp">Contact agent on whatsapp</i>
                </a>
            {% else %}
                <p>No Whatsapp contact available for this agent</p>
            {% endif %}
        {% else %}
            <span style="display: none;">Back to listings</span>
            <span style="display: none;">More in {{ property.category.name }}</span>
        {% endif %}
        {% if request.user.is_authenticated and property.owner == request.user %}
            <div class="actionhold">
                <a class="action-link" href="{% url 'property_edit' property.pk %}" >Edit property</a>
                <a class="action-link" href="{% url 'agent_dashboard' %}">back to agent</a>
                <!-- <form method="post" action="" class="deleteForm">
                    {% csrf_token %}
                    <button type="submit" class="deleteBtn">Delete property</button>
                </form> -->
                <a href="{% url 'property_delete' property.pk %}" class="deleteBtn">Delete property</a>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
